.tiptap-editor {
  border: 1px solid #ccc;
  border-radius: 6px;
  min-height: 100px;
   display: flex;
   box-sizing: border-box;
   height: auto;
  color: black;
}
/* Code block */
.ProseMirror pre {
  background: #f6f8fa;
  color: #24292f;
  padding: 12px;
  border-radius: 6px;
  overflow-x: auto;
  font-family: monospace;
  font-size: 13px;
  width: 100%;
}

/* Prevent double styling */
.ProseMirror pre code {
  background: none;
  padding: 0;
}
.tiptap-editor .ProseMirror {
  outline: none;
   flex: 1;
   display: flex;
   box-sizing: border-box;
   width: 100%;
}
.tiptap.ProseMirror p {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  line-height: 1.5;
}
.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  color: #8c959f;
  pointer-events: none;
  height: 0;
}