name: Build main

on:
 push:
  branches: 
   - main
 pull_request:
  branches: 
   - main
 workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v5

       - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Build app
        run: npm run build

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
         registry: ghcr.io
         username: ${{ github.actor }}
         password: ${{ secrets.GIT_HUB_TOKEN }}

      - name: Build image tag
        run: |
         TAG=ghcr.io/${{github.actor}}/$(echo "$GITHUB_REPOSITORY" | cut -d'/' -f2 | tr '[:upper:]' '[:lower:]'):latest  
         echo "TAG=$TAG" >> $GITHUB_ENV

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v4
        with:
         context: .
         file: ./Dockerfile   # path to your Dockerfile
         push: true                   # pushes image to registry
         tags: ${{ env.TAG }}           # tag for the image
